/* @import url('');
 */

@font-face{
  font-family: "GetSchwifty";
  src: url('get_schwifty.ttf')
}

body {
  background-color: #262d3a;
  text-align:  center;
  font-family: "GetSchwifty";
  color: white;
  margin: auto;

}

.container {
  max-width: 900px;
  display: inline;
}

h2 {
  color: #15b0c9;
  font-size: 40px;
  position: relative;
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: #cbe261;
}

h1 {
  color: #15b0c9;
  font-size: 84px;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cbe261;
}

span#tic {
  animation-name: title;
  animation-duration: 1.2s;
  animation-delay: 1s;
}

span#tac {
  animation-name: title;
  animation-duration: 1.2s;
  animation-delay: 2.1s;
}

span#morty {
  animation-name: title;
  animation-duration: 2s;
  animation-delay: 3.2s;
}

@keyframes title {
  50% {font-size: 130px;}
}

p {
  letter-spacing: 2px;
  font-size: 19px;
  color: #cbe261;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #15b0c9;
  height: 55px;
  margin: auto;
  max-width: 90%;
}

button {
  /* position: absolute; */
  delay: 1.5s;
  background-color: black;
  color: #15b0c9;
  font-family: GetSchwifty;
  font-size: 26px;
  border-radius: 1em;
  margin: 0em;
  padding: 10px;
}

button#start {
  visibility: hidden;
  margin-top: 1em;
  margin-bottom: 2em;
}

div p {
  /* positon: sticky; */
  visibility: hidden;
  margin-top: -6em;
  margin-bottom: 3em;
}

div.players {
  margin: 1em, auto;
}

div p.first-player {
  /* visibility: visible; */
}

div p.second-player {
  visibility: hidden;
}


div.gameboard {
  display: inline-block;
  width: 600px;
  height: 600px;
  margin: 0em;
}


img {
  visibility: hidden;
  display: inline-block;
  height: 25%;
  width: 25%;
  border: 2px white solid;
  margin: -3px;

}

img:hover {
  background-color: gray;
}

div img.rick {
  background-image: url(rick-sanchez.jpg);
  background-size: cover;
}

div img.morty {
  background-image: url(morty-smith.jpg);
  background-size: cover;
}

div img.meeseeks {
  background-image: url(mr-meeseeks.jpg);
  background-size: cover;
}

div img.jerry {
  background-image: url(jerry-smith.jpg);
  background-size: cover;
}

div img.summer {
  background-image: url(summer-smith.jpg);
  background-size: cover;
}


h1.results {
  width: 100%;
  top: 6em;
  visibility: hidden;
  position: absolute;
  text-align: center;
  text-shadow: -5px 3px 0px black;
}



aside {
  top: 400px;
  font-size: 26px;
  position: absolute;
  visibility: hidden;
  text-decoration: underline;
}

aside.first-player {
  left: 5%;
}

aside.second-player {
  left: 75%;
}

div aside p {
  display: inline-block;
  visibility: visible;
  color: white;
  font-size: 26px;
}


@media (max-width: 600px){

  body {
    background-color: #14171f;
  }
  header {
    width: 500px;
    display: inline-block;
  }

  .container {
    display: inline-block;
    width: 500px;
  }
  h1 {
    font-size: 60px;
  }

  p {
    width: 80%;
    display: inline-block;
    color: white;
    margin-top: -2em;
    line-height: 26px;
  }

  p#characters {
    margin: 24px 0 12px 0;
  }

  header div {
    height: 67px;
  }

  div.players {
    height: 30px;
  }

  button#start {
    margin: 1em;
    margin-bottom: 5px;
  }

  div.players p {
    height: 30px;
    margin-top: -4em;
    margin-bottom: 1em;
  }

  div.characters {
    display: grid;
    width: 50%;
    margin: auto;
  }

  div.gameboard {
    height: 450px;
    width: 450px;
  }

  aside.first-player {
    left: 10px;
  }

  aside.second-player {
    right: 50px;
  }

  h1.results {
    background-color: rgba(0, 0, 0, .8);
    padding: 50px 0 50px 0;
    display: block;
    height: 100px
    width: 500px;
    left: 0px;
  }

}
